/* 
*========================================================================================

?   PROJETO ->> Desenvolvimento WEB Full Stack: Minha Página Linkedin e Currículo
?   OBJETIVO ->> Página para unir visualmente todas as etapas da busca de uma carreira
?   no Linkedin, Entrevistas e Currículo.
?   CRIAÇÃO E DESENVOLVIMENTO ->> Marcia Moreira
?   DATA DA CRIAÇÃO ->> 18/01/2024
?   GITHUB ->> https://github.com/Marcia-Moreira
?   LINK WAKATIME ->> https://wakatime.com/@Marcia_Moreira
?   LINKEDIN ->> https://www.linkedin.com/in/marciamoreiramm

*======================================================================================== 
*/

* {
    /* background-color: #FFF6; */
    /* Não funciona */
    justify-items: center;
}

.img_letreiro {
    /* float: right; */
    text-align: center;
    border-color: gray;
    width: 100%;
}

body {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 16px;
    background-color: black;
    width: 100%;

}

div {
    /* rever como colocar a largura responsiva */
    /* width: 150vh; */
    /* float: left; */
    position: relative;
    /* margin-right: 20px; */
    /* margin-left: 20px; */
    /* display: contents; */
    /*display: flex;*/ /*esse coloca as div ao lado uma da outra*/
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */


    width: 100%;
    border: 1px solid;
    border-color: gray;
    box-shadow: 5px 5px 5px 3px gray;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
} 

h1 {
    color: whitesmoke;
    text-align: center;
    text-shadow: 5px 5px 5px gray;
}

h2 {
    text-align: center;
}

p {
    line-height: 150%;
}

nav {
    line-height: 150%;
    /* poe as nav em dupla de gradros */
    display: flex;
}

a {
    /* Personalizar os links */
    text-decoration: none;
    color: rgb(75, 70, 70);
}

caption {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 20px;
}

tr {
    line-height: 150%;
    text-align: center;
}

/* REVER */

.menu_principal{
    background-color: #DCCFE2;
}
.link_fotos{
    /* Rever essa cor */
    background-color: burlywood;
}
.link_plano_de_fundo{
    /* Rever essa cor */
    background-color: cadetblue;
}
.link_curriculo{
    background-color: #DBD1DF;
}

.badge_distintivo{
    background-color: #DBD5DC;
}
.nome_funcao{
    background-color: #DAD7DA;
}
.linkedin_sobre{
    background-color: #D9DAD6;
}
.linkedin_objetivo{
    background-color: #D8DDD4;
}
.linkedin_carta_apresentacao{
    background-color: #DBE0D0;
}
.linkedin_pitch_apresentacao{
    /* Rever essa cor */
    background-color: chocolate;
}
.caixa_de_caixas{
    display: flex;
    border: none;
    box-shadow: none;
    margin-right: 50px;
}

.linkedin_formacao{
    background-color: #D7E3CE;
}
.linkedin_curso_especializacao{
    background-color: #C3DECE;
}
.linkedin_bootcamp{
    background-color: #C5DAD0;
}
.linkedin_projetos_sociais{
    background-color: #C6D7D2;
}
.linkedin_idiomas{
    background-color: #C8D3D4;
}
.linkedin_link_diplomas{
    background-color: #CACFD7;
}
.skill_carreira_anterior{
    background-color: #CBCBD9;
}
.skill_carreira_desenvolvedor{
    background-color: #CDC8DB;
}
/* duas div para rever */
/* ! */

.hard_skill{
    background-color: #CEC4DD;
}
.soft_skill{
    background-color: #C3BBD9;
}

/*! EU PESSOA / MINHA HISTÓRIA/ COMO EU SOU */

.eu_minha_historia{
    background-color: #BFBED7;
}
.eu_hobbies{
    background-color: #BEC3D6;
}
.eu_personalidade{
    background-color: #BBC7D4;
}
.eu_ponto_positivo{
    background-color: #BBCBD1;
}
.eu_ponto_negativo{
    background-color: #B5CED0;
}
.eu_motivo_demissao{
    background-color: #B2D4CF;
}
.tecnica_star{
    background-color: #AFDBCC;
}
.cases_sucesso{
    background-color: #DAD7DA
}
.desafios{
    background-color: #D9DAD6;
}


/* ============================================ */

.btn_voltar_menu {
    background-color: black;
    font-style: oblique;
    color: whitesmoke;
    border-style: 1px solid;
    border-color: whitesmoke;
    /* sombreamento das bordas */
    box-shadow: 5px 5px 5px 3px gray;
    border-radius: 5px;
    /* distancia do teto */
    margin-top: 10px;
    /* distancia lado de dentro */
    padding: 10px;
}

.btn_voltar_menu:hover {
    background-color: gray;
    font-style: oblique;
    color: black;
    cursor: pointer;
    /* rever */
    /* box-shadow: black; */
}