<!-- Tentar criar nova estrutura html com as DIV dentro da Página Responsiva -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estrutura_style.css">
    <title>Document</title>
</head>
<main>
    <header>
        <div class="div_header_a">
            <h1>Marcia Moreira</h1>
            <h1>Desenvolvedora Web Full Stack</h1>
            <div class="img_letreiro">
                <img src="https://readme-typing-svg.herokuapp.com?font=Fira+Code&pause=1000&color=DEA585&vCenter=true&random=false&width=435&lines=Ol%C3%A1+👋🏽!+Eu+sou+a+Marcia+Moreira%2C;seja+bem+vindo+ao+meu+perfil+👩🏽‍💻!" alt="Typing SVG Meu Letreiro"/>
            </div>
            <br>
            <p>Teste Header</p>
        </div>
    </header>
    <body>
        <div class="div_body_a" id="botao_voltar">
            <h2>Menu Principal</h2>
            <div class="menu_principal">
                <!-- www.linkedin.com/in/marciamoreiramm -->
                <!-- www.linkedin.com/in/id.marcia.moreira -->
                <!-- Senha Linkedin: Mm@13312281 -->
                <!-- Email Linkedin: id.marcia.moreira@gmail.com -->
                <div class="assunto">
                    <!-- <p>assunto menu 1</p> -->
                    <a href="#link_fotos">Links de fotos para Currículo / Inscrição Sites</a>
                    <a href="#link_plano_de_fundo">Links de planos de fundo para Currículo / Inscrição Sites</a>
                    <a href="#link_curriculo">Link para Currículo - Word no Google Drive</a>
                    <a href="#badge_distintivo">My Badges / Meus Distintivos</a>
                    <a href="#nome_funcao">Nomes Funções / Títulos Profissões / Titulos da Carreira</a>
                    <a href="#linkedin_sobre">LinkedIn - Sobre</a>
                </div>
            </div>
            <div class="menu_principal">
                <div class="assunto">
                    <a href="#linkedin_objetivo">LinkedIn - Objetivo da minha carreira</a>
                    <a href="#linkedin_carta_apresentacao">LinkedIn - Carta de Apresentação</a>
                    <a href="#linkedin_pitch_apresentacao">LinkedIn - Pitch de Apresentação</a>
                    <a href="#linkedin_formacao">LinkedIn - Formação</a>
                    <a href="#linkedin_curso_especializacao">LinkedIn - Cursos e Especializações</a>
                    <a href="#linkedin_bootcamp">LinkedIn - BootCamp / Cursos</a>
                </div>
            </div>
            <div class="menu_principal">
                <div class="assunto">
                    <a href="#linkedin_projetos_sociais">LinkedIn - Projetos Sociais - rever o nome</a>
                    <a href="#linkedin_idiomas">LinkedIn - Idiomas</a>
                    <a href="#linkedin_link_diplomas">LinkedIn - Diplomas e Links de Diplomas</a>
                    <a href="#linkedin_mensagens_privadas">LinkedIn - Mensagens padronizadas para envio no LinkedIn</a>
                    <a href="#indicacao_linkedin">Pedir Indicações no Linkedin</a>
                    <a href="#skill_carreira_anterior">Skills das Carreiras Anteriores</a>
                </div>
            </div>
            <div class="menu_principal">
                <div class="assunto">
                    <a href="#skill_carreira_desenvolvedor">Skills da Carreira de Desenvolvedor Web</a>
                    <a href="#hard_skill">Hard Skill - Tech</a>
                    <a href="#soft_skill">Soft Skill</a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>
            <div class="menu_principal">
                <div class="assunto">
                    <a href="#eu_minha_historia">Minha História</a>
                    <a href="#eu_hobbies">Hobbies:</a>
                    <a href="#eu_personalidade">Personalidade</a>
                    <a href="#eu_ponto_positivo">5 Pontos Positivos sobre mim: Minhas Fortalezas</a>
                    <a href="#eu_motivo_demissao">Motivo de Desligamento / Demissão</a>
                    <a href="#tecnica_star">A técnica STAR</a>
                    <a href="#cases_sucesso">Cases de Sucesso</a>
                </div>
            </div>
            <div class="menu_principal">
                <div class="assunto">
                    <a href="#desafios">Maior Desafio:</a>
                    <a href="#empresas_quero_trabalhar">Em qual empresa eu quero trabalhar?</a>
                    <a href="#testes_entrevistas">Testes de Entrevistas </a>
                    <a href="#relatos_bootcamp">Relatos de Atuações em Projetos BootCamp</a>
                    <a href="#sites_carreiras">Sites de Pesquisas de Carreiras</a>
                    <a href="#site_cadastro_curriculo">Link Sites de Cadastro de Currículos</a>
                </div>
            </div>
            <div class="menu_principal">
                <div class="assunto">
                    <a href="#agencias_emprego">Link Agências de Emprego</a>
                    <a href="#freelancer">Links Sites Freelancer</a>
                    <a href="#contatos">Contatos</a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>
            <div class="menu_principal">
                <div class="assunto">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <p>assunto menu 5</p>
                </div>
            </div>
            <!-- Botão Voltar ao Topo -->
            <div>
                <a href="#botao_voltar"><button class="btn_voltar_menu">Voltar ao Menu</button></a>
            </div>
            <!-- Outro Tema -->
            <h2>Links de fotos para Currículo / Inscrição Sites</h2>
            <div class="link_fotos" id="link_fotos">
                <div class="foto">
                    <p>foto 1</p>
                    <img src="../static/css/img/marcia_moreira.jpg">
                    <a href="../static/css/img/marcia_moreira.jpg" title="Foto Marcia Moreira - opção 01" target="_blank" rel="noreferrer noopener">Link da Foto opção 01</a>
                </div>
                <div class="foto">
                    <p>foto 2</p>
                    <img src="../static/css/img/Marcia_Moreira_Perfil_menor.jpg">
                    <a href="../static/css/img/Marcia_Moreira_Perfil_menor.jpg" title="Foto Marcia Moreira - opção 02" target="_blank" rel="noreferrer noopener">Link da Foto opção 02</a>
                </div>
                <div class="foto">
                    <p>foto 3</p>
                    <img src="../static/css/img/IMG-20220305-WA0005.jpg">
                    <a href="../static/css/img/IMG-20220305-WA0005.jpg" title="Foto Marcia Moreira - opção 03" target="_blank" rel="noreferrer noopener">Link da Foto opção 03</a>
                </div>
            </div>
            <!-- botão Voltar ao Topo -->
            <div>
                <a href="#botao_voltar"><button class="btn_voltar_menu">Voltar ao Menu</button></a>
            </div>
            <!-- Outro Tema -->
            <h2>Links de planos de fundo para Currículo / Inscrição Sites</h2>
            <div class="">
                <div>
                <!-- Imagem como link -->
                    <a href="">
                    <img src="arquivo-image.png" alt="Img Plano de Fundo Opção 01">
                    </a>
                    <!-- Apenas Link -->
                    <a href="" title="Plano de Fundo Marcia Moreira - opção 01" target="_blank" rel="noreferrer noopener">Plano de Fundo opção 01</a>
                </div>
            </div>
            <div class="">
                <div>
                <!-- Imagem como link -->
                    <a href="">
                    <img src="arquivo-image.png" alt="Img Plano de Fundo Opção 02">
                    </a>
                    <!-- Apenas Link -->
                    <a href="" title="Plano de Fundo Marcia Moreira - opção 02" target="_blank" rel="noreferrer noopener">Plano de Fundo opção 02</a>
                </div>
            </div>
            <div>
                <div class="">
                    <!-- Imagem como link -->
                    <a href="">
                    <img src="arquivo-image.png" alt="Img Plano de Fundo Opção 03">
                    </a>
                    <!-- Apenas Link -->
                    <a href="" title="Plano de Fundo Marcia Moreira - opção 03" target="_blank" rel="noreferrer noopener">Plano de Fundo opção 03</a>
                </div>
            </div>
            <div>
                <div class="">
                    <!-- Imagem como link -->
                    <a href="">
                    <img src="arquivo-image.png" alt="Img Plano de Fundo Opção 04">
                    </a>
                    <!-- Apenas Link -->
                    <a href="" title="Plano de Fundo Marcia Moreira - opção 04" target="_blank" rel="noreferrer noopener">Plano de Fundo opção 04</a>
                </div>
            </div>
            <!-- botão Voltar ao Topo -->
            <div>
                <a href="#botao_voltar"><button class="btn_voltar_menu">Voltar ao Menu</button></a>
            </div>
            <!-- Outro Tema -->
            <h2>Título</h2>
            <div class="">
                <div>

                </div>
            </div>
            <div class="">
                <div>

                </div>
            </div>
            <!-- botão Voltar ao Topo -->
            <div>
                <a href="#botao_voltar"><button class="btn_voltar_menu">Voltar ao Menu</button></a>
            </div>
            <!-- Outro Tema -->
            <h2>Título</h2>
            <div class="">
                <div>

                </div>
            </div>
            <div class="">
                <div>

                </div>
            </div>
            <!-- botão Voltar ao Topo -->
            <div>
                <a href="#botao_voltar"><button class="btn_voltar_menu">Voltar ao Menu</button></a>
            </div>
            <!-- fim do body -->
        </div>
    </body>
    <footer>
        <div class="div_footer_a">
            <p>Teste Footer</p>
        </div>
    </footer>    
</main>
</html>