<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Script Selo Linkedin = Deve ser colado na página -->
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

    <title>Selo Linkedin - MM</title>
</head>
<body>

    <h1>Selo de Perfil Público do Linkedin - Marcia Moreira</h1>

    <div>
        <p>Selo White</p>

        <div class="badge-base LI-profile-badge" data-locale="pt_BR" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="idmarciamoreira" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://br.linkedin.com/in/idmarciamoreira?trk=profile-badge">Marcia Moreira</a></div>
    </div>    

    <div>
        <p>Selo Black</p>

        <div class="badge-base LI-profile-badge" data-locale="pt_BR" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="idmarciamoreira" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://br.linkedin.com/in/idmarciamoreira?trk=profile-badge">Marcia Moreira</a></div>
              
    </div>
</body>
</html>