<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plano de Carreira - MM </title>
</head>
<body>
    <header>
        <h1>PLANO DE CARREIRA - MM </h1>

    </header>
    <main>
        <p>
            Plano de Carreira (Plan)

            cONSTRUIR sUA mARCA pessoal

            planejar onde quero ir e como ir
            estar pronta para "mover"
            Plano a e Plano B 

            Overvil do Passado e do Futuro 
            rever de 3 em 3 meses (20' para rever)

            Ter sempre um próximo passo é importante para se imprevistos acontecerem

            Buscar Mentores Oficiais

            GPT -> Pode me trazer alguns pontos principais em que preciso estruturar para montar um plano de carreira? Tipo, quais principais perguntas 

            em quem vc se inspira? Alexandre (pedir mentoria) 
            
            - se aproximar mais das pessoas que interessam tipo gerentes... 
            - pedir pontes, recomentações 
            - marcar uma "one one" casuais aprender como funcionava o time e etc. 

            - 30 minutos da semana para fazer materia ou contatos relevantes para sua carreira

            - Linkedin Atualizado (procurar páginas das empresas)


            (Tech - vendas, ERPs, Folha de Pagamento, Assitencia Tecnica Telefone, vender tecnologia ) 

            - revisar metas e pesquisar as possíveis carreiras

            - Banco de Dados? FIAP palestrantes trabalham na empresas
            - Mapear os passos de pessoas que se deram bem!!

            - MVPs 

            - Procurar eventos para fazer conexões

            - descobrir de fato o que eu gosto na carreira 

            - Sucesso é Treinável! Corrida/ Esportes / 

            - Definir Objetivos 

            - Precisamos saber do próximo passo e não daqui 10 anos! Tudo muda muito rápido - planos de curto e medio prazo

            - Copilot tá fazendo tudo? Co piloto da Microsoft o que é?

            - quais são meus valores? Gosto de Novidades e de Mudanças!!

            - Método SMART para as metas de carreira 

            - (Poucos Contatos devido a pandemia)

            (BABY-STAPS degraus pequenos)

            - Idioma / Tecnologias / Softs Skill
            - Mapear licenças mais urgentes para conseguir emprego (CRECI ex )

            - Melhorar IMAGEM (Quando pensar em Marcia precisa pensar em Tech)
            - Mostrar o que está fazendo. Virar referência para as penssoas lembrarem de VC naquele contexto-meta 
            - Mandar noticias posts sobre o assunto meta para as pessoas que importam. 

            - netWorking com foco - evento de comunidade tecnica 
            - investir  em credibilidade
            - parar de falar que é junior e que não sabe disso ou daquilo.

            - Pit decorado SIM - qual imagem vc quer que as pessoas tenham de vc. 
            - revisitar esse plano mensalmente com marcação na agenda e tudo o mais.
            - skill de liderança 

            *
            monitoramento de comportamento  

            - People Manager (Gerente de Pessoas)

            _ Pedir pra trazer lista de palavras corporativas nas carreiras Tech

            sPONSORS - PESSOAS QUE TE DEFENDERIAM SE VC NÃO ESTIVER NA SALA

            - O que vou aprender no Dia a Dia 
            _ O que vou aprender com outras pessoas? 

            - relatar o que foi feito ou aconteceu desde a última reunião de acompanhamento (contar o que houve)

            -> Mentoria (Caio para saber sobre Dados)


        </p>

    </main>
    <footer>

    </footer>
</body>
</html>